CMakeCache.txt
CMakeFiles
CmakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build/

# clion stuff
.idea/

cmake-build-debug/
cmake-build-release/